/* cockpit.css */

/* ########## General button styles ########### */
.button {
  position: absolute;
  transition: all 0.3s ease;
  opacity: 0.7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: translate(-50%, -50%);
}

/* Circle buttons */
.button.circle {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  animation: glow 1.5s infinite alternate;
}

/* Rectangular buttons */
.button.rect {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  animation: glow 1.5s infinite alternate;
}

/* Square buttons */
.button.square {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  animation: glow 1.5s infinite alternate;
}

/* ############## Buttons Effects ################ */

/* Glow animation for dimmer-brighter effect */
@keyframes glow {
  0% { box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); }
  50% { box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); }
  100% { box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); }
}

/* Hover effect */
.button:hover {
  opacity: 1;
  box-shadow: 0 0 20px rgba(255, 255, 255, 1); /* Glow on hover */
}

/* Custom glow effect for hover */
@keyframes hover-glow {
  from {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
  }
  to {
    box-shadow: 0 0 20px rgba(0, 255, 0, 1);
  }
}

/* Tooltip text color for buttons */
.button[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -100%;
  left: -30%;
  transform: translateX(50%);
  transform: translateY(0px);
  background-color: rgba(0, 0, 0, 0.7);
  color: lightblue;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
  white-space: nowrap;
}

/* ############## Spaceship monitor styles ################ */
#spaceship-monitor {
  position: absolute;
  bottom: 50px;
  left: 45%;
  transform: translateX(-50%) skew(-5deg) rotate(4deg);
  width: 30%;
  height: 200px;
  background: #000;
  border: 2px solid #fff;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightblue;
  font-size: 18px;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#spaceship-monitor video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#monitor-message {
  position: absolute;
  z-index: 1;
  color: lightblue;
  font-size: 1.6em;
  font-family: Arial, sans-serif;
  padding: 10%;
}

#static-message {
  position: absolute;
  bottom: 10px; /* Adjust placement to your liking */
  left: 10%; /* Adjust placement to your liking */
  color: lightgray;
  font-size: 1.4rem;
  font-family: Arial, sans-serif;
  z-index: 1; /* Ensures it stays on top of the video */
}
