/* interact.css */

/* ########## Buttons Functionality ########### */
/* Shield Effect */
.shield-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 255, 255, 0.4) 0%, rgba(0, 255, 255, 0) 80%);
    filter: blur(10px);
    animation: shield-glow 1s ease-in-out infinite alternate;
    pointer-events: none; /* Ensure it doesn't block button interactions */
  }
  
  @keyframes shield-glow {
    from {
      opacity: 0.7;
      transform: scale(1);
    }
    to {
      opacity: 1;
      transform: scale(1.1);
    }
  }